* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  text-align: center;
  width: 100vw;
}

img {
  height: 100vh;
  object-fit: cover;
  vertical-align: bottom;
  width: 100vw;
}
